<!DOCTYPE html>
<html>
<head>
 <title>Simple Map</title>
 <link
  rel="stylesheet"
  href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
 />
 <style>
  #map {
   height: 40px;
  }
 </style>
 <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
</head>
<body>
 <div id="map"></div>

 <script>
  var map = L.map('map').setView([56.808623, 105.9513221], 8);

  L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
   maxZoom: 19,
  }).addTo(map);

  // You can add markers, polygons, and other features to the map here
 </script>
</body>
</html>